@font-face {
	font-family: 'u1f400';
	src: url("../fonts/u1f400.eot"); /* para IE */
	src: url("../fonts/u1f400.ttf");
}

.emoji {
	margin: 0;
	text-indent: 0;
}

.emoji.esps-10px{
	padding: 10px 0;
}
.emoji.esps-20px{
	padding: 20px 0;
}
.emoji.esps-30px{
	padding: 30px 0;
}
.emoji.esps-40px{
	padding: 40px 0;
}
.emoji.esps-50px{
	padding: 50px 0;
}
.emoji.esps-60px{
	padding: 60px 0;
}
.emoji.esps-70px{
	padding: 70px 0;
}
.emoji.esps-80px{
	padding: 80px 0;
}
.emoji.esps-90px{
	padding: 90px 0;
}
.emoji.esps-100px{
	padding: 100px 0;
}
.emoji.esps-110px{
	padding: 110px 0;
}


.emoji.text-5pt{
	font-size: 5pt;
}
.emoji.text-10pt{
	font-size: 10pt;
}
.emoji.text-15pt{
	font-size: 15pt;
}
.emoji.text-20pt{
	font-size: 20pt;
}
.emoji.text-25pt{
	font-size: 25pt;
}
.emoji.text-30pt{
	font-size: 30pt;
}
.emoji.text35pt{
	font-size:35pt;
}
.emoji.text-40pt{
	font-size: 40pt;
}




.emoji.e1:before,
.emoji.e1:after{
	content: "\1F645";
	font-family: u1f400;
}
.emoji.e2:before,
.emoji.e2:after{
	content: "\1F646";
	font-family: u1f400;
}
.emoji.e3:before,
.emoji.e3:after{
	content: "\1F647";
	font-family: u1f400;
}
.emoji.e4:before,
.emoji.e4:after{
	content: "\1F648";
	font-family: u1f400;
}
.emoji.e5:before,
.emoji.e5:after{
	content: "\1F649";
	font-family: u1f400;
}
.emoji.e6:before,
.emoji.e6:after{
	content: "\1F64A";
	font-family: u1f400;
}
.emoji.e7:before,
.emoji.e7:after{
	content: "\1F64B";
	font-family: u1f400;
}
.emoji.e8:before,
.emoji.e8:after{
	content: "\1F64C";
	font-family: u1f400;
}
.emoji.e9:before,
.emoji.e9:after{
	content: "\1F64D";
	font-family: u1f400;
}
.emoji.e10:before,
.emoji.e10:after{
	content: "\1F64E";
	font-family: u1f400;
}
.emoji.e11:before,
.emoji.e11:after{
	content: "\1F64F";
	font-family: u1f400;
}




.emoji.e-5pt:before,
.emoji.e-5pt:after{
	font-size: 5pt;
}
.emoji.e-10pt:before,
.emoji.e-10pt:after{
	font-size: 10pt;
}
.emoji.e-15pt:before,
.emoji.e-15pt:after{
	font-size:-15pt;
}
.emoji.e-20pt:before,
.emoji.e-20pt:after{
	font-size: 20pt;
}
.emoji.e-25pt:before,
.emoji.e-25pt:after{
	font-size: 25pt;
}
.emoji.e-30pt:before,
.emoji.e-30pt:after{
	font-size: 30pt;
}
.emoji.e-35pt:before,
.emoji.e-35pt:after{
	font-size: 35pt;
}
.emoji.e-40pt:before,
.emoji.e-40pt:after{
	font-size: 40pt;
}