@charset "utf-8";
/* CSS Document */
div.ofertas {
	text-align:center;
}
div.all_shop {
	min-width: 100px;
	max-width: 220px;
	background-color: rgb(254,254,254);
	box-shadow: 1px 2px 4px 1px;
	margin: 5px;
	padding: 10px;
	display: inline-table;
	text-align: justify;
}

div.all_shop.selling h4, div.all_shop.selling h4:before {
	margin-top:0;
	margin-right:5px;
	content: "\f0b2" !important;
	font-family: FontAwesome;
}

div.all_shop.shopping h4, div.all_shop.shopping h4:before {
	margin-top:0;
	margin-right:5px;
	content: "\f066" !important;
	font-family: FontAwesome;
}

div.all_shop span.name:before {
	margin-left: 2px;
	margin-right: 8px;
	content: "\f120" !important;
	font-family: FontAwesome;
}
div.all_shop span.advertiser:before {
	margin-left: 1px;
	margin-right: 8px;
	content: "\f0a1" !important;
	font-family: FontAwesome;
}
div.all_shop span.price:before {
	margin-right: 8px;
	content: "\f0d6" !important;
	font-family: FontAwesome;
}
div.all_shop span.units:before {
	margin-right: 6px;
	content: "\f1b3" !important;
	font-family: FontAwesome;
}
div.all_shop span.room:before {
	margin-right: 7px;
	content: "\f236" !important;
	font-family: FontAwesome;
}
div.all_shop span.expires:before {
	margin-left: 3px;
	margin-right: 8px;
	content: "\f017" !important;
	font-family: FontAwesome;
}
div.all_shop span.offers:before {
	margin-right: 7px;
	content: "\f201" !important;
	font-family: FontAwesome;
}

div.all_shop div.ico {
	text-align:center;
}
div.all_shop div.separator {
	border-top: dashed 1px rgba(0,0,0,0.4);
	margin: 6px 0;
}
div.all_shop img {
	border: 5px solid white;
	box-shadow: .5px 1px 2px 0.5px;
}