@charset "utf-8";
/* CSS Document */
div.ofertas {
	text-align:center;
}
div.all_shop {
	min-width: 100px;
	max-width: 220px;
	background-color: rgb(254,254,254);
	/*box-shadow: 1px 2px 4px 1px;*/
	margin: 5px;
	padding: 10px;
	display: inline-table;
	text-align: justify;
}

div.all_shop.selling h4, div.all_shop.selling h4:before {
	margin-top:0;
	margin-right:5px;
	content: "\f0b2" !important;
	font-family: FontAwesome;
}

div.all_shop.shopping h4, div.all_shop.shopping h4:before {
	margin-top:0;
	margin-right:5px;
	content: "\f066" !important;
	font-family: FontAwesome;
}

div.all_shop span.name:before {
	margin-left: 2px;
	margin-right: 8px;
	content: "\f120" !important;
	font-family: FontAwesome;
}
div.all_shop span.advertiser:before {
	margin-left: 1px;
	margin-right: 8px;
	content: "\f0a1" !important;
	font-family: FontAwesome;
}
div.all_shop span.price:before {
	margin-right: 8px;
	content: "\f0d6" !important;
	font-family: FontAwesome;
}
div.all_shop span.units:before {
	margin-right: 6px;
	content: "\f1b3" !important;
	font-family: FontAwesome;
}
div.all_shop span.room:before {
	margin-right: 7px;
	content: "\f236" !important;
	font-family: FontAwesome;
}
div.all_shop span.expires:before {
	margin-left: 3px;
	margin-right: 8px;
	content: "\f017" !important;
	font-family: FontAwesome;
}
div.all_shop span.offers:before {
	margin-right: 7px;
	content: "\f201" !important;
	font-family: FontAwesome;
}

div.all_shop div.ico {
	text-align:center;
}
div.all_shop div.separator {
	border-top: dashed 1px rgba(0,0,0,0.4);
	margin: 6px 0;
}
div.all_shop img {
	border: 5px solid white;
	margin: 7px;
	/*box-shadow: .5px 1px 2px 0.5px;*/
}


/*
.mdl-grid {
	text-align: center;
}*/
.only-one {
	margin-left: auto !important;
	margin-right: auto !important;
}
.mdl-cell--3-col.only-one {
	max-width: 375px;
}
.mdl-cell--6-col.only-one {
	max-width: 750px;
}
#filter{
	width: 100%;
	text-align: center;
}
#filter select {
	max-width: 300px;
}
.card_offer {
	padding: 10px;
}
.card_offer > h2:before {
	margin-left: 2px;
	margin-right: 8px;
	content: "\f120" !important;
	font-family: FontAwesome;
}
.card_offer > h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin: 6px 0;
}
.card_offer > .ico {
	text-align: center;
}
.card_offer > .ico > img {
	margin: 7px;
	border: 5px solid white;
}
.card_offer > .div-offers {
	display: inherit;
	font-size: .9em;
}
.card_offer > .one-colun {
	display: list-item;
	max-height: 272px;
	overflow: auto;
}
.card_offer > .div-offers h3 {
	font-size: 1.2em;
	line-height: 1em;
	margin: 5px 0;
}
.card_offer > .div-offers > .trade-center {
	width: 100%;
}
.card_offer > .one-colun > .trade-center {
	margin-top: 5px;
	border-top: 1px solid rgb(63,81,181);
	padding-top: 5px;
}
.card_offer > .one-colun > .trade-center:first-child {
	margin-top: 0;
	border-top: 0;
	padding-top: 0;
}
.card_offer > .div-offers > .selling-left {
	width: calc(50% - 6px);
	border-right: dashed 1px rgba(0,0,0,0.4);
	padding-right: 5px;
}
.card_offer > .div-offers h3.selling:before {
	margin-top: 0;
	margin-right: 5px;
	content: "\f0b2" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers > .shopping-right {
	width: calc(50% - 6px);
	border-left: dashed 1px rgba(0,0,0,0.4);
	padding-left: 5px;
}
.card_offer > .div-offers h3.shopping:before {
	margin-top: 0;
	margin-right: 5px;
	content: "\f066" !important;
	font-family: FontAwesome;
}
.card_offer .separator {
	border-top: dashed 1px rgba(0,0,0,0.4);
	margin: 6px 0;
}
.card_offer > .div-offers .advertiser:before {
	margin-left: 1px;
	margin-right: 8px;
	content: "\f0a1" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .price:before {
	margin-right: 8px;
	content: "\f0d6" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .units:before {
	margin-right: 6px;
	content: "\f1b3" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .room:before {
	margin-right: 7px;
	content: "\f236" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .expires:before {
	margin-left: 3px;
	margin-right: 8px;
	content: "\f017" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .id:before {
	margin-left: 3px;
	margin-right: 8px;
	content: "\f05b" !important;
	font-family: FontAwesome;
}
.card_offer > .div-offers .offers:before {
	margin-right: 7px;
	content: "\f201" !important;
	font-family: FontAwesome;
}
.mdl-textfield.is-invalid .mdl-textfield__input {
	border-color: inherit !important;
	border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
	
	font-size: 16px !important;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
	font-size: 12px !important;
}

form.form_meu_wired {
	text-align: center;
}
form.form_meu_wired .mdl-textfield {
	text-align: left;
}
form.form_meu_wired, form.form_meu_wired * {
	max-width: 100%;
}
#floating_botton_search_id.floating_botton {
    right: 215px;
}