@charset "utf-8";
/* CSS Document */

#mobi img:not([src *= "setinha"]), #menu_web, #menu_app {
	-webkit-transition: all 0.2s ease-in;
	cursor: pointer;
}

#menu_web, #menu_app {
	background-color: #fff;
	background-position: center;
	width: 100%;
	max-width:200px;
	height:60px;
	margin: auto;
	border:5px solid #fff;
}
#menu_web:hover, #menu_app:hover, #mobi img:not([src *= "setinha"]):hover {
	-webkit-transform: scale(1.5);
}

.ficha {
	color: rgba(0,0,0,.3);
}
.atualizado.ficha:after, .mdl-cell a:after {
	content: "" !important;
}
.atualizado.ficha:before {
	content: "\f073" !important;
	font-family: FontAwesome;
	color: rgba(0,0,0,.3);
	top: -1px;
	position: relative;
	margin-right: 4px;
}
.official_price {
	float: right;
    font-size: 1.5em;
    color: gold;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black, 0px 1px black, -1px 0px black, 1px 0px black, -1px 1px black;
}
.official_price:after {
	content: url('../img/coin_small_front.png');
	margin-left: 3px;
}
.official_price:before {
	content: "Preço oficial: ";
    font-size: .6em;
    color: black;
    text-shadow: none;
    margin-left: 10px;
}
.s-tutor:after {
	font-size: .6em;
	color: grey;
	content: "\f00d\f0ad";
    font-family: FontAwesome;
    padding: 0 0 0 7px;
}
.c-tutor:after {
	font-size: .6em;
	color: green;
	content: "\f00c\f0ad";
    font-family: FontAwesome;
    padding: 0 0 0 7px;
}